# Feature Extraction
Feature extraction adalah proses mengambil suatu data atau informasi yang berhubungan (relevan) dari data mentah atau dataset yang umumnya bersifat kompleks untuk digunakan dalam melakukan analisis atau melakukan pemodelan data (visualisasi data). (Skill, 2023a)

In [1]:
import pandas as pd
from modul._2_preprocessing_data import cleaning_data
from modul._3_feature_extraction import tfidf, punctuation, pos_tagging

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

In [3]:
df_train = pd.read_csv('output/2_preprocessing_data/train.csv')
df_test = pd.read_csv('output/2_preprocessing_data/test.csv')
display(df_train)
display(df_test)

,full_text,sentiment,clean_full_text,word_count,text_preprocessed
0,@aewin86 Kapan lagi punya presiden hebat kayak...,negatif,Kapan lagi punya presiden hebat mirip pak A...,15,presiden hebat anies capai lihat ganjar prabow...
1,Tujuannya counter Anies kemaren biar Anies ngo...,netral,Tujuannya menangkal Anies kemarin biar Anies ...,18,tuju tangkal anies kemarin biar anies omong ad...
2,@berlianidris @YantoThobenk Doa sepertiga mala...,netral,Doa sepertiga malam dok..itu yang bisa saya...,26,doa tiga malam dok laku nama anies muhaiminkan...
3,@FayaAtika sudah budhe. pakai etika pas duo ca...,netral,sudah budhe. pakai etika pas duo cawapres di...,18,bude pakai etika pas duo cawapres serang bocil...
4,Ganjar-Mahfud memahami bahwa petugas pajak yan...,positif,Ganjar-Mahfud memahami bahwa petugas pajak ya...,22,ganjar mahfud paham petugas pajak integritas k...
...,...,...,...,...,...
7360,@mirazh_me @ainunnajib @aniesbaswedan @cakimiN...,positif,Bener deh.... Lebih hebat Gibran diam saj...,10,deh hebat gibran diam tonton
7361,@indozonemedia Kemampuan memimpin mas Gibran t...,positif,Kemampuan memimpin mas Gibran tidak diraguka...,8,mampu pimpin mas gibran ragu hebat
7362,@PutraErlangga95 Jawaban singkat pak Anies seb...,netral,Jawaban singkat pak Anies sebagai penutup wa...,29,singkat anies tutup wawancara pers debat termi...
7363,#AMINajaDulu #AniesUnggul #PakaiOtakPakaiHati ...,positif,Menjadi tuan rumah di negeri sendiri dan...,20,tuan rumah negeri tamu pesona negeri orang kon...
7364,AMIN KAN SAJA | NO 1 | ANIES BASWEDAN | MUHAIM...,netral,AMIN KAN SAJA | NO 1 | ANIES BASWEDAN | MUHAI...,17,amin anies baswedan muhaimin iskandar sa via

,full_text,sentiment,clean_full_text,word_count,text_preprocessed
0,Halo @KPU_ID ! Debat capres mana di dunia yg p...,netral,Halo ! Debat capres mana di dunia yang peser...,20,halo debat capres dunia peserta nya nilai turu...
1,@tvOneNews Anies Efect Gus Imin pun menjadi se...,positif,Anies Efect Gus Imin pun menjadi semakin cer...,8,anies efek gus imin cerdas
2,@pakaipeci Lha saya lebih malu lagi punya wali...,negatif,Lha saya lebih malu lagi punya walikota mode...,10,malu walikota model gibran
3,@gibran_tweet Capresnya singgung masalag etika...,netral,Capresnya singgung masalah etika ke pak Anie...,16,capresnya singgung etika anies wakil etika mah...
4,@republikaonline Mas Gibran pemimpin yang cerd...,positif,Mas Gibran pemimpin yang cerdas dan merakyat...,17,mas gibran pimpin cerdas rakyat sukses mas gib...
...,...,...,...,...,...
1950,Demi dapat surat mandat Untuk temen yang mau j...,netral,Demi dapat surat mandat Untuk teman yang mau ...,39,surat mandat teman saksi pulang aji rutin kah ...
1951,@hedoooya @Luqbaehaqi Jangan lupa infokan ke r...,netral,Jangan lupa infokan ke rekan rekan guru hon...,32,lupa info rekan rekan guru honorer iya rekam j...
1952,Investor akan merasa dihargai dengan upaya Gan...,positif,Investor akan merasa dihargai dengan upaya Ga...,20,investor harga upaya ganjar mahfud cipta trans...
1953,TKN Prabowo-Gibran Hampiri Moderator saat Deba...,netral,TKN Prabowo-Gibran Hampiri Moderator saat Deb...,14,tkn prabowo gibran hampir moderator debat kpu ...
1954,@afuadrizaldi @ShamsiAli2 Giliran Gibran dikat...,netral,Giliran Gibran dikatai sombong lihat nah An...,13,gilir gibran katai sombong lihat anies ganjar ...

In [4]:
display(df_train.shape)
display(df_train['full_text'].duplicated().sum())
display(df_train.isnull().sum())
df_train = cleaning_data(df_train)
display(df_train.shape)

(7365, 5)

0

full_text            0
sentiment            0
clean_full_text      0
word_count           0
text_preprocessed    7
dtype: int64

(7358, 5)

In [5]:
display(df_test.shape)
display(df_test['full_text'].duplicated().sum())
display(df_test.isnull().sum())
df_test = cleaning_data(df_test)
display(df_test.shape)

(1955, 5)

0

full_text            0
sentiment            0
clean_full_text      0
word_count           0
text_preprocessed    2
dtype: int64

(1953, 5)

### 1. TF - IDF
Term Frequency - Invers Document Frequency (TF - IDF) adalah statistik numerik yang menunjukkan relevansi kata kunci dengan beberapa dokumen tertentu atau dapat dikatakan bahwa ia menyediakan kata kunci tersebut, dengan begitu beberapa dokumen tertentu dapat diidentifikasi atau dikategorikan. TF - IDF terdapat dua perhitungan, yaitu Term Frequency (TF) dan Invers Document Frequency (IDF). (Alrajak et al., 2020)

In [6]:
tfidf_df_train = tfidf(df_train)
tfidf_df_test = tfidf(df_test)
display(tfidf_df_train)
display(tfidf_df_test)

,aa,aamiin,abad,abadi,abah,abai,abal,abang,abangan,abdee,...,zikir,zionis,zjk,zodiak,zon,zona,zonk,zul,zulhas,zulkifli
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,aa,abadi,abah,abai,abal,abang,abdi,abdul,abu,acah,...,zainal,zakir,zalim,zaman,zar,zidane,zionis,zon,zulhas,zulkifli
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
tfidf_df_train.to_parquet('output/3_feature_extraction/train_tfidf.parquet', index=False)
tfidf_df_test.to_parquet('output/3_feature_extraction/test_tfidf.parquet', index=False)

### 2. Punctuation
Punctuation (tanda baca) adalah tanda yang dipakai dalam sistem ejaan. Tanda baca dapat membantu pembaca untuk memahami makna tulisan dengan tepat. Pada penelitian ini, punctuation akan digunakan sebagai fitur, mulai dari tanda titik (.), tanda koma (,), tanda seru (!), dan lain-lain. (Suyatno et al., 2017)

In [8]:
punctuation_df_train = punctuation(df_train)
punctuation_df_test = punctuation(df_test)
display(punctuation_df_train)
display(punctuation_df_test)

      _length  _exclamation  _question  _quote  _capital
0          15             0          0       0         0
1          18             0          0       0         0
2          26             0          0       1         0
3          18             0          0       0         0
4          22             1          0       0         0
...       ...           ...        ...     ...       ...
7353       10             0          0       0         0
7354        8             0          0       0         0
7355       29             0          0       0         1
7356       20             0          0       0         1
7357       17             0          0       0         9

[7358 rows x 5 columns]

      _length  _exclamation  _question  _quote  _capital
0          20             3          0       0         0
1           8             0          0       0         0
2          10             0          0       0         0
3          16             0          0       0         0
4          17             0          0       0         0
...       ...           ...        ...     ...       ...
1948       39             0          0       0         2
1949       32             0          0       0         0
1950       20             1          0       0         1
1951       14             0          0       0         2
1952       13             0          0       0         0

[1953 rows x 5 columns]

In [9]:
punctuation_df_train.to_csv('output/3_feature_extraction/train_punctuation.csv', index=False)
punctuation_df_test.to_csv('output/3_feature_extraction/test_punctuation.csv', index=False)

### 3. POS Tagging
Part-of-Speech (POS) Tagging merupakan tugas mendasar dalam Natural Language Processing (NLP) yang melibatkan penetapan kategori gramatikal (seperti kata benda, kata kerja, kata sifat, dsb.). Secara konsep, POS Tag adalah kode pendek yang mewakili bagian-bagian tertentu dari suatu ujaran. Pada penelitian ini, POS Tag akan digunakan sebagai fitur, meliputi kata benda (NN), kata kerja (VB), kata sifat (JJ), dan lain-lain. (Mudadla, 2023)

In [10]:
pos_tagging_df_train = pos_tagging(df_train)
pos_tagging_df_test = pos_tagging(df_test)
display(pos_tagging_df_train)
display(pos_tagging_df_test)

,NN,JJ,VB,RB,UH,NN_percentage,JJ_percentage,VB_percentage,RB_percentage,UH_percentage
0,5,1,3,1,0,0.333333,0.066667,0.200000,0.066667,0.0
1,4,2,3,2,0,0.222222,0.111111,0.166667,0.111111,0.0
2,5,0,3,1,0,0.192308,0.000000,0.115385,0.038462,0.0
3,7,1,5,0,0,0.388889,0.055556,0.277778,0.000000,0.0
4,5,3,3,0,0,0.227273,0.136364,0.136364,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
7353,2,0,2,2,0,0.200000,0.000000,0.200000,0.200000,0.0
7354,2,0,2,2,0,0.250000,0.000000,0.250000,0.250000,0.0
7355,10,0,5,2,0,0.344828,0.000000,0.172414,0.068966,0.0
7356,9,0,3,0,0,0.450000,0.000000,0.150000,0.000000,0.0
7357,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.0

,NN,JJ,VB,RB,UH,NN_percentage,JJ_percentage,VB_percentage,RB_percentage,UH_percentage
0,9,1,1,2,0,0.450000,0.050000,0.050000,0.100000,0.0
1,0,0,2,1,0,0.000000,0.000000,0.250000,0.125000,0.0
2,3,1,1,3,0,0.300000,0.100000,0.100000,0.300000,0.0
3,5,0,2,2,0,0.312500,0.000000,0.125000,0.125000,0.0
4,2,0,3,2,0,0.117647,0.000000,0.176471,0.117647,0.0
...,...,...,...,...,...,...,...,...,...,...
1948,6,0,7,1,0,0.153846,0.000000,0.179487,0.025641,0.0
1949,16,1,3,2,0,0.500000,0.031250,0.093750,0.062500,0.0
1950,5,0,3,0,0,0.250000,0.000000,0.150000,0.000000,0.0
1951,1,0,0,0,0,0.071429,0.000000,0.000000,0.000000,0.0
1952,1,2,3,2,0,0.076923,0.153846,0.230769,0.153846,0.0

In [11]:
pos_tagging_df_train.to_csv('output/3_feature_extraction/train_pos_tagging.csv', index=False)
pos_tagging_df_test.to_csv('output/3_feature_extraction/test_pos_tagging.csv', index=False)

### Download

In [12]:
df_train[['full_text', 'sentiment']].to_csv('output/3_feature_extraction/train.csv', index=False)
df_test[['full_text', 'sentiment']].to_csv('output/3_feature_extraction/test.csv', index=False)