# Implementasi Algoritma
Setelah melakukan dimensional reduction, data tersebut dibagi menjadi data training dan data testing dengan perbandingan 80:20. Pada pengimplementasian menggunakan kedua algoritma tersebut akan menggunakan parameter berupa data training, fitur kueri, dan nilai k. Adapun nilai k yang digunakan dalam penelitian ini sebesar 10 sampai 200 dengan interval 10. Sehingga output yang dihasilkan berupa prediksi label dari fitur kueri tersebut.

In [1]:
import pandas as pd
import numpy as np
from modul._7_modelling import DWKNN

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

In [3]:
df_train = pd.read_parquet('output/4_feature_engineering/train.parquet')
df_test = pd.read_parquet('output/4_feature_engineering/test.parquet')
display(df_train)
display(df_train['sentiment'].value_counts())
display(df_test)
display(df_test['sentiment'].value_counts())

,aa,aamiin,abad,abadi,abah,abai,abal,abang,abangan,abdee,...,JJ,VB,RB,UH,NN_percentage,JJ_percentage,VB_percentage,RB_percentage,UH_percentage,sentiment
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,3,1,0,0.333333,0.066667,0.200000,0.066667,0.0,-1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,3,2,0,0.222222,0.111111,0.166667,0.111111,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3,1,0,0.192308,0.000000,0.115385,0.038462,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,5,0,0,0.388889,0.055556,0.277778,0.000000,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3,3,0,0,0.227273,0.136364,0.136364,0.000000,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,2,0,0.200000,0.000000,0.200000,0.200000,0.0,1
7354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,2,0,0.250000,0.000000,0.250000,0.250000,0.0,1
7355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,5,2,0,0.344828,0.000000,0.172414,0.068966,0.0,0
7356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3,0,0,0.450000,0.000000,0.150000,0.000000,0.0,1
7357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.0,0

sentiment
 0    4502
 1    2396
-1     460
Name: count, dtype: int64

,aa,abadi,abah,abai,abal,abang,abdi,abdul,abu,acah,...,JJ,VB,RB,UH,NN_percentage,JJ_percentage,VB_percentage,RB_percentage,UH_percentage,sentiment
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,2,0,0.450000,0.050000,0.050000,0.100000,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,1,0,0.000000,0.000000,0.250000,0.125000,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,3,0,0.300000,0.100000,0.100000,0.300000,0.0,-1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,2,0,0.312500,0.000000,0.125000,0.125000,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3,2,0,0.117647,0.000000,0.176471,0.117647,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,7,1,0,0.153846,0.000000,0.179487,0.025641,0.0,0
1949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,3,2,0,0.500000,0.031250,0.093750,0.062500,0.0,0
1950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3,0,0,0.250000,0.000000,0.150000,0.000000,0.0,1
1951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.071429,0.000000,0.000000,0.000000,0.0,0
1952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,3,2,0,0.076923,0.153846,0.230769,0.153846,0.0,0

sentiment
 0    1181
 1     653
-1     119
Name: count, dtype: int64

In [4]:
# oversampling
# df_train = pd.concat([df_train[df_train['sentiment'] == 0], df_train[df_train['sentiment'] == 1].sample(n=4502, replace=True, random_state=42), df_train[df_train['sentiment'] == -1].sample(n=4502, replace=True, random_state=42)], ignore_index=True)
# df_test = pd.concat([df_test[df_test['sentiment'] == 0], df_test[df_test['sentiment'] == 1].sample(n=1181, replace=True, random_state=42), df_test[df_test['sentiment'] == -1].sample(n=1181, replace=True, random_state=42)], ignore_index=True)
# display(df_train)
# display(df_train['sentiment'].value_counts())
# display(df_test)
# display(df_test['sentiment'].value_counts())

In [5]:
# undersampling
# df_train = pd.concat([df_train[df_train['sentiment'] == 0].sample(n=460, replace=True, random_state=42), df_train[df_train['sentiment'] == 1].sample(n=460, replace=True, random_state=42), df_train[df_train['sentiment'] == -1]], ignore_index=True)
# df_test = pd.concat([df_test[df_test['sentiment'] == 0].sample(n=119, replace=True, random_state=42), df_test[df_test['sentiment'] == 1].sample(n=119, replace=True, random_state=42), df_test[df_test['sentiment'] == -1]], ignore_index=True)
# display(df_train)
# display(df_train['sentiment'].value_counts())
# display(df_test)
# display(df_test['sentiment'].value_counts())

In [6]:
X_train = df_train.drop(columns=['sentiment'])
X_test = df_test.drop(columns=['sentiment'])
y_train = df_train['sentiment']
y_test = df_test['sentiment']

In [7]:
X_train = X_train[list(set(X_test.columns) & set(X_train.columns))]
for col in list(set(X_test.columns) - set(X_train.columns)):
  X_train[col] = 0
X_train = X_train[sorted(X_train.columns)]
X_test = X_test[sorted(X_test.columns)]
display(X_train)
display(X_test)

,JJ,JJ_percentage,NN,NN_percentage,RB,RB_percentage,UH,UH_percentage,VB,VB_percentage,...,zainal,zakir,zalim,zaman,zar,zidane,zionis,zon,zulhas,zulkifli
0,1,0.066667,5,0.333333,1,0.066667,0,0.0,3,0.200000,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
1,2,0.111111,4,0.222222,2,0.111111,0,0.0,3,0.166667,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
2,0,0.000000,5,0.192308,1,0.038462,0,0.0,3,0.115385,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
3,1,0.055556,7,0.388889,0,0.000000,0,0.0,5,0.277778,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4,3,0.136364,5,0.227273,0,0.000000,0,0.0,3,0.136364,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7353,0,0.000000,2,0.200000,2,0.200000,0,0.0,2,0.200000,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
7354,0,0.000000,2,0.250000,2,0.250000,0,0.0,2,0.250000,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
7355,0,0.000000,10,0.344828,2,0.068966,0,0.0,5,0.172414,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
7356,0,0.000000,9,0.450000,0,0.000000,0,0.0,3,0.150000,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
7357,0,0.000000,0,0.000000,0,0.000000,0,0.0,0,0.000000,...,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0

,JJ,JJ_percentage,NN,NN_percentage,RB,RB_percentage,UH,UH_percentage,VB,VB_percentage,...,zainal,zakir,zalim,zaman,zar,zidane,zionis,zon,zulhas,zulkifli
0,1,0.050000,9,0.450000,2,0.100000,0,0.0,1,0.050000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.000000,0,0.000000,1,0.125000,0,0.0,2,0.250000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.100000,3,0.300000,3,0.300000,0,0.0,1,0.100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.000000,5,0.312500,2,0.125000,0,0.0,2,0.125000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.000000,2,0.117647,2,0.117647,0,0.0,3,0.176471,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,0,0.000000,6,0.153846,1,0.025641,0,0.0,7,0.179487,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1949,1,0.031250,16,0.500000,2,0.062500,0,0.0,3,0.093750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1950,0,0.000000,5,0.250000,0,0.000000,0,0.0,3,0.150000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1951,0,0.000000,1,0.071429,0,0.000000,0,0.0,0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1952,2,0.153846,1,0.076923,2,0.153846,0,0.0,3,0.230769,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [9]:
def classification(k_value, X_train, y_train, X_test):
  result = pd.DataFrame()
  dwknn = DWKNN(k=k_value)
  dwknn.fit(X_train, y_train)
  y_predict = dwknn.predict(X_test)
  result[f'k_{k_value}'] = pd.Series(y_predict)
  result.to_csv(f'output/7_modelling/predict_k_{k_value:02}.csv', index=False)

In [10]:
df_test[['sentiment']].to_csv('output/7_modelling/actual.csv', index=False)

In [11]:
# classification(5, X_train, y_train, X_test)
# classification(10, X_train, y_train, X_test)
# classification(15, X_train, y_train, X_test)
# classification(20, X_train, y_train, X_test)
# classification(25, X_train, y_train, X_test)
# classification(30, X_train, y_train, X_test)
# classification(35, X_train, y_train, X_test)
# classification(40, X_train, y_train, X_test)
# classification(45, X_train, y_train, X_test)
# classification(50, X_train, y_train, X_test)